/*-------------------------------------------------
table of content

01. typography
02. header
03. features
04. button
05. section
06. focus or services
07. parallax
08. progress bar
09. clients logo
10. team
11. fun factor
12. portfolio
13. pricing table
14. testimonial
15. subscribe
16. contact
17. footer
18. responsive

-------------------------------------------------*/
/*-------------------------------------------------
typography
-------------------------------------------------*/
body
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    overflow-x: hidden; 

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a,
button
{
    -webkit-transition: all .3s;
            transition: all .3s;
}
a:hover,
a:focus,
a button:hover,
button:hover,
button:focus,
button button:hover
{
    -webkit-transition: all .3s;
            transition: all .3s; 
    text-decoration: none;
}

p
{
    margin-bottom: 30px;
}

hr
{
    border-top: 1px solid #ddd;
}


.myicon
    {
            height: 50px;
            width:50px;

    }

/*-------------------------------------------------
header
-------------------------------------------------*/
.header
{
    position: relative;
}
.header .header-content
{
    z-index: 11;
}
.header .header-content .intro
{
    font-size: 30px;
    line-height: 70px; 

    margin-bottom: 50px;
}
.header .navbar
{
    border: none;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
}
.header .navbar-nav > li
{
    padding: 0 15px;
}
.header .navbar-nav > li > a
{
    padding: 10px 0;
    padding-top: 25px;
    padding-bottom: 25px;

    color: #000;
    border-top: 5px solid transparent;
    outline: none;
}
.header .navbar-light
{
    z-index: 100; 

    background: #fff;
}
.header .navbar-brand
{
    position: relative;

    height: 70px;
    padding-top: 18px;
}
.header .nav > li > a:hover,
.header .nav > li.current > a
{
    border-top: 5px solid #fcd000; 
    background-color: transparent;
}
.header .nav > li > a:focus
{
    background: transparent;
}

.navbar-fixed-top
{
    padding: 0;
}

#slider
{
    position: relative;

    overflow: hidden; 

    min-height: 650px;
}
#slider:before
{
    position: absolute;
    z-index: 10; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(0, 0, 0, .6);
}

.header-content
{
    position: relative;

    margin-top: 22%;
}

.short-message
{
    position: relative;
    z-index: 11; 

    margin-top: 200px;
}
.short-message .short-text
{
    font-size: 18px;
}

/*-------------------------------------------------
features
-------------------------------------------------*/
.feature-content
{
    display: inline-block;

    width: 100%;
}
.feature-content .one-third-grid
{
    float: left;

    box-sizing: border-box; 
    width: 50%;
    padding: 50px;
}
.feature-content .bg-yellow
{
    background: #fcd000;
}
.feature-content .bg-blue
{
    background: #007cfb;
}
.feature-content .short-text
{
    font-size: 16px;
}
.feature-content .short-text .info
{
    overflow: hidden;
}
.feature-content .short-text .info h3
{
    margin-top: 0;
}
.feature-content .short-text i
{
    font-size: 50px;

    position: relative;
    top: 3px;

    padding: 0 10px;
}

/*-------------------------------------------------
buttons
-------------------------------------------------*/
.btn
{
    padding: 10px 30px;

    border-radius: 2px;
}

.btn-warning
{
    color: #000; 
    border-color: #fcd000;
    background: #fcd000;
}

.btn-dark
{
    color: #fff; 
    border-color: #222;
    background: #222;
}
.btn-dark:hover,
.btn-dark:focus
{
    border-color: #fcd000;
    outline: none; 
    background: #fcd000;
}

.btn-primary
{
    border-color: #007cfb; 
    background: #007cfb;
}

.button-row a
{
    margin: 0 10px;
}

.btn.disabled
{
    opacity: 1;
}

/*-------------------------------------------------
section
-------------------------------------------------*/
.section-wrapper
{
    margin-top: -60px;
    padding-top: 60px;
}

.section-gray
{
    background: #f3f3f3;
}

.section-theme-color
{
    background: #fcd000;
}

.section-gap
{
    padding: 100px 0;
}

.section-top-gapless
{
    padding-top: 0;
}

.section-bottom-gapless
{
    padding-bottom: 0;
}

.section-title
{
    margin-bottom: 80px;
    padding: 0 20px;
}
.section-title h2
{
    font-weight: 700;
}
.section-title h3
{
    color: gray;
}

.section-title.light h2
{
    color: #fff;
}

.section-title.light h3
{
    color: #fff;
}

.sub-title
{
    line-height: 40px;

    margin-bottom: 30px;
}

.light
{
    color: #fff;
}

.dark
{
    color: #000;
}

.m-top-0
{
    margin-top: 0 !important;
}

.m-bot-0
{
    margin-bottom: 0 !important;
}

/*-------------------------------------------------
technologies or services
-------------------------------------------------*/
.service-list
{
    display: block;

    margin-bottom: 50px;
    padding: 30px;

    -webkit-transition: all .3s;
            transition: all .3s;
}
.service-list:hover
{
    position: relative; 

    -webkit-transition: all .3s;
            transition: all .3s;
}
.service-list .icon
{
    margin-bottom: 20px;
}
.service-list .icon i
{
    font-size: 50px;

    color: #333;
}
.service-list .service-info h4
{
    position: relative;

    margin-bottom: 50px;
}
.service-list .service-info h4:before
{
    position: absolute;
    top: 35px;
    left: 50%;

    width: 50px;
    height: 5px;
    margin-left: -25px;

    content: '';
    text-align: center; 

    background: #fcd000;
}
.service-list .service-info p
{
    margin-bottom: 0; 

    color: gray;
}

/*-------------------------------------------------
parallax
-------------------------------------------------*/
.parallax
{
    position: relative; 

    background: no-repeat center center scroll;
    background-attachment: fixed;
    background-size: cover;
}
.parallax:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .7);
}
.parallax h3
{
    line-height: 40px;
}

.parallax.light-overlay:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(255, 255, 255, .3);
}

.parallax-quote
{
    background-image: url('../img/slider/s1.jpg');
}

.parallax-funfactor
{
    background-image: url('../img/slider/s1.jpg');
}

/*-------------------------------------------------
progress bar
-------------------------------------------------*/
.custom-progress-style
{
    position: relative; 

    height: 8px;
    margin-top: 60px;

    border-radius: 0;
    background: #e4e4e4;
    box-shadow: none;
}
.custom-progress-style .progress-bar
{
    font-size: 11px;
    line-height: 30px; 

    position: relative;

    overflow: visible;

    box-sizing: border-box;

    text-align: left;
    letter-spacing: 1px;

    color: #222;
    background-color: #fcd000;
    box-shadow: none;
}
.custom-progress-style .progress-bar .skills-info
{
    font-size: 13px; 

    position: relative;
    top: -35px;
}
.custom-progress-style .progress-bar span
{
    font-size: 9px; 
    line-height: normal;

    position: relative;
    bottom: 0;

    float: right;

    padding: 5px;

    color: #000;
    border-radius: 3px;
    background: #fcd000;
}
.custom-progress-style .progress-bar span:after
{
    position: absolute;
    bottom: -5px;
    left: 50%;

    margin-left: -5px;

    content: ''; 

    border-top: 5px solid #fcd000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.custom-progress-style.progress
{
    overflow: visible;
}

/*-------------------------------------------------
clients logo
-------------------------------------------------*/
.client-section
{
    padding: 50px 0;
}

.clients-logo
{
    display: table;

    width: 100%;
}

.client-item
{
    display: table-cell;

    box-sizing: border-box;
    width: 200px;
    height: 85px;
    padding: 10px;

    text-align: center;
    vertical-align: middle;

    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
.client-item:hover
{
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}
.client-item img
{
    max-width: 100%;
}

/*-------------------------------------------------
team
-------------------------------------------------*/
.team-item
{
    position: relative;

    margin-bottom: 30px;
    padding: 5%;

    text-align: center;
}
.team-item .team-thumb
{
    position: relative;

    overflow: hidden;

    margin-bottom: 20px;
}
.team-item .team-thumb img
{
    width: 100%;
    height: auto;

    border-radius: 2px;
}
.team-item:hover .team-overlay
{
    bottom: 0;

    -webkit-transition: bottom .3s ease-in-out;
            transition: bottom .3s ease-in-out;
}
.team-item .team-overlay
{
    line-height: 50px; 

    position: absolute;
    z-index: 6;
    top: auto;
    bottom: -50px;
    left: 0;

    width: 100%;
    height: 50px;

    -webkit-transition: bottom .3s ease-in-out;
            transition: bottom .3s ease-in-out;
    text-align: center;
    text-decoration: none;

    color: #fff;
    background: rgba(252, 208, 0, .8);
}
.team-item .team-social-link a
{
    font-size: 18px; 

    margin: 0 20px;

    color: #fff;
}
.team-item .team-social-link a:hover
{
    color: #000;
}

/*-------------------------------------------------
fun factor
-------------------------------------------------*/
.fun-box span
{
    line-height: 110px;

    display: inline-block; 

    width: 80px;
    height: 80px;

    text-align: center;

    border-radius: 50%;
    background: rgba(252, 208, 0, .7);
}

.fun-box i
{
    font-size: 40px;

    color: #fff;
}

.fun-box .value
{
    font-size: 35px; 

    margin-top: 20px;
}

.fun-box .title
{
    font-size: 18px;
}

/*-------------------------------------------------
portfolio
-------------------------------------------------*/
.portfolio-filter
{
    margin-bottom: 50px;
}
.portfolio-filter ul li.active a
{
    border-bottom: 5px solid #fcd000;
}
.portfolio-filter ul li
{
    font-size: 14px;

    display: inline-block;

    margin-left: 10px;

    text-decoration: none;
    text-transform: uppercase; 

    color: #acacac;
    border-radius: 0;
}
@media (max-width: 568px)
{
    .portfolio-filter ul li
    {
        margin-bottom: 20px;
    }
}
.portfolio-filter ul li a
{
    position: relative;

    margin-right: 15px;
    padding: 5px 0;

    color: #222;
    border-bottom: 5px solid transparent; 
    outline: none;
}
.portfolio-filter ul li a:hover
{
    border-bottom: 5px solid #fcd000;
}
.portfolio-filter ul li:first-child
{
    margin-left: 0;
}

/*portfolio-grid*/
.portfolio-grid .portfolio-item
{
    float: left;
}
.portfolio-grid .portfolio-item a:focus
{
    outline: none;
}
.portfolio-grid .portfolio-item .portfolio-image
{
    position: relative; 

    display: block;
}
.portfolio-grid .portfolio-item .portfolio-image img
{
    display: block;

    width: 100%;
    height: auto;
}
.portfolio-grid .portfolio-item .portfolio-image .portfolio-hover-title
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 30px;

    -webkit-transition: all .3s;
            transition: all .3s;

    opacity: 0;
    background-color: rgba(0, 0, 0, .9);

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.portfolio-grid .portfolio-item .portfolio-image .portfolio-hover-title .portfolio-content
{
    position: absolute;
    top: 60%;
    left: 0;

    width: 100%;

    -webkit-transition: all .3s;
            transition: all .3s; 
    -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
            transform: translateY(-55%);
    text-align: center;
}
.portfolio-grid .portfolio-item .portfolio-image .portfolio-hover-title .portfolio-content h4
{
    color: #fff;
}
.portfolio-grid .portfolio-item .portfolio-image .portfolio-hover-title .portfolio-content .portfolio-category span
{
    margin: 0 5px; 

    color: #fcd000;
}
.portfolio-grid .portfolio-item .portfolio-image:hover .portfolio-hover-title
{
    opacity: 1;
}
.portfolio-grid .portfolio-item .portfolio-image:hover .portfolio-hover-title .portfolio-content
{
    top: 50%;
}

.portfolio-grid .portfolio-title
{
    margin-bottom: 5%;
}

.portfolio-grid.grid-2 .portfolio-item
{
    width: 50%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-2 .portfolio-item
    {
        width: 50%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-2 .portfolio-item
    {
        width: 100%;
    }
}

.portfolio-grid.grid-3 .portfolio-item
{
    width: 33.33%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-3 .portfolio-item
    {
        width: 50%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-3 .portfolio-item
    {
        width: 100%;
    }
}

.portfolio-grid.grid-4 .portfolio-item
{
    width: 25%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-4 .portfolio-item
    {
        width: 50%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-4 .portfolio-item
    {
        width: 100%;
    }
}

.portfolio-grid.grid-5 .portfolio-item
{
    width: 20%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-5 .portfolio-item
    {
        width: 50%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-5 .portfolio-item
    {
        width: 100%;
    }
}

.portfolio-grid.grid-2.gutter
{
    margin-right: -2%;
}
.portfolio-grid.grid-2.gutter .portfolio-item
{
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-2.gutter .portfolio-item
    {
        width: 48%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-2.gutter .portfolio-item
    {
        width: 98%;
    }
}

.portfolio-grid.grid-3.gutter
{
    margin-right: -2%;
}
.portfolio-grid.grid-3.gutter .portfolio-item
{
    width: 31.33%;
    margin-right: 2%;
    margin-bottom: 2%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-3.gutter .portfolio-item
    {
        width: 48%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-3.gutter .portfolio-item
    {
        width: 98%;
    }
}

.portfolio-grid.grid-4.gutter
{
    margin-right: -2%;
}
.portfolio-grid.grid-4.gutter .portfolio-item
{
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-4.gutter .portfolio-item
    {
        width: 48%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-4.gutter .portfolio-item
    {
        width: 98%;
    }
}

.portfolio-grid.grid-5.gutter
{
    margin-right: -2%;
}
.portfolio-grid.grid-5.gutter .portfolio-item
{
    width: 18%;
    margin-right: 2%;
    margin-bottom: 2%;
}
@media (max-width: 768px)
{
    .portfolio-grid.grid-5.gutter .portfolio-item
    {
        width: 48%;
    }
}
@media (max-width: 568px)
{
    .portfolio-grid.grid-5.gutter .portfolio-item
    {
        width: 98%;
    }
}

.portfolio-masonry .portfolio-title
{
    padding-left: 3%;
}

.portfolio-masonry.gutter .portfolio-title
{
    padding-left: 0;
}

.isotope-item
{
    z-index: 2;

    padding: 0;
}

.isotope-hidden.isotope-item
{
    z-index: 1; 

    pointer-events: none;
}

.isotope,
.isotope .isotope-item
{
    /* change duration value to whatever you like */
    -webkit-transition-duration: .8s;
            transition-duration: .8s;
}

.isotope
{
    -webkit-transition-property: height, width;
            transition-property: height, width;
}

.isotope .isotope-item
{
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, -webkit-transform;
            transition-property:         transform, opacity;
            transition-property:         transform, opacity, -webkit-transform;
}

/*-------------------------------------------------
pricing table
-------------------------------------------------*/
.section-pattern
{
    background: url('../img/pattern.png');
}

.pricing-table
{
    padding: 0;
}
.pricing-table li
{
    float: left;

    width: 31.33%;
    min-height: 400px;
    margin: 0 1%;
    padding: 30px 45px 30px 30px;

    list-style: none;

    text-align: center; 

    background: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
}
@media (max-width: 768px)
{
    .pricing-table li
    {
        width: 100%;
        margin-bottom: 20px;
    }
}
.pricing-table li:last-child
{
    padding: 30px 30px 30px 45px;
}
.pricing-table .pricing-item i
{
    font-size: 50px;
}
.pricing-table .pricing-item h2
{
    font-weight: 300;

    margin-bottom: 30px;
}
.pricing-table .price-quote .number
{
    font-size: 50px;
}
.pricing-table .p-item-list
{
    padding: 20px 0;
}
.pricing-table .p-item-list span
{
    display: block;

    padding: 5px 0;
}
.pricing-table .feature
{
    position: relative;

    padding: 30px; 

    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
}
@media (max-width: 768px)
{
    .pricing-table .feature
    {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}
.pricing-table .feature .feature-ribon
{
    font-size: 1.8rem;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    padding: 5px 12px;

    -webkit-transform: translate(50px, 0) rotateZ(90deg);
        -ms-transform: translate(50px, 0) rotate(90deg);
            transform: translate(50px, 0) rotateZ(90deg); 
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;

    color: #fff;
    background: #fcd000;
}

/*-------------------------------------------------
testimonial
-------------------------------------------------*/
#testimonial-list .thumb
{
    display: inline-block;

    margin-bottom: 20px;
}
#testimonial-list .thumb img
{
    width: 90px;
    height: 90px;

    border-radius: 50%;
}

#testimonial-list p
{
    font-size: 22px;
    font-weight: 300; 
    line-height: 35px;
}

#testimonial-list .testimonial-meta
{
    font-weight: bold; 

    text-transform: uppercase;
}
#testimonial-list .testimonial-meta span
{
    font-size: 12px; 

    opacity: .7;
}

#testimonial-list.owl-theme .owl-dots .owl-dot.active span,
#testimonial-list.owl-theme .owl-dots .owl-dot:hover span
{
    background: #fcd000;
}

@media (max-width: 768px)
{
    .container-fluid.pad-less
    {
        padding: 0 15px !important;
    }
}

#testimonial-list.owl-theme .owl-dots .owl-dot span
{
    border-radius: 0;
}

/*-------------------------------------------------
subscribe
-------------------------------------------------*/
.subscribe-bg
{
    padding: 120px 0;

    background-image: url('../img/subscribe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
}

.subscribe
{
    padding: 80px 0; 

    background-color: #fff;
}

.subscribe-title
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;

    margin: 0; 

    color: #222;
}

.subscribe-from
{
    margin-top: 30px;
}

.subscribe-from .form-control
{
    font-size: 12px;

    height: 36px; 
    margin: 0 5px;

    border-color: #acacac;
    border-radius: 2px;
    box-shadow: none;
}

.subscribe-from .form-control:focus
{
    border-color: #222;
    box-shadow: none;
}

.subscribe-from .btn-subscribe
{
    font-size: 11px;

    height: 36px;
    margin-left: 5px; 
    padding-right: 20px;
    padding-left: 20px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 2px;
    background-color: #222;
}

.subscribe-from .btn-subscribe:hover,
.subscribe-from .btn-subscribe:focus
{
    color: #222; 
    background-color: #fcd000;
}

/*-------------------------------------------------
contact
-------------------------------------------------*/
.contact-wrap
{
    display: block;

    padding: 30px;

    background: #fff;
}
@media (max-width: 991px)
{
    .contact-wrap
    {
        position: relative;
        bottom: 0;

        width: 100%;
        margin-top: 20px;
    }
}
.contact-wrap h3
{
    margin-top: 0;
    margin-bottom: 30px;
}
.contact-wrap .contact-form .form-control
{
    border-radius: 2px; 
    box-shadow: none;
}
.contact-wrap .contact-form .form-control:focus
{
    border-color: #000;
}
.contact-wrap .contact-form label
{
    font-weight: 400;
}

.form-control
{
    border-radius: 0; 
    box-shadow: none;
}
.form-control:focus
{
    border-color: #000;
}

/*-------------------------------------------------
footer
-------------------------------------------------*/
.footer
{
    padding: 30px 0;

    color: #fff; 
    background: #333;
}
.footer ul.f-link li
{
    position: relative; 

    display: inline-block;

    margin-right: 40px;
}
.footer ul.f-link li:after
{
    position: absolute;
    top: -3px; 
    right: -20px;

    content: '.';
}
.footer ul.f-link li:last-child:after
{
    position: absolute; 

    content: '';
}
.footer ul.f-link li a
{
    color: #fff;
}
.footer ul.f-link li a:hover
{
    color: #fcd000;
}
.footer ul.fsocial-link li
{
    display: inline-block;

    margin-top: 15px; 
    margin-right: 20px;
}
.footer ul.fsocial-link li a
{
    color: #fff;
}
.footer ul.fsocial-link li a:hover
{
    color: #fcd000;
}

.copyright
{
    font-size: 12px;
}

#go-top
{
    line-height: 60px;

    position: fixed;
    z-index: 100;
    right: 3%;
    bottom: 0;

    width: 50px;
    height: 60px;

    -webkit-transition: all .3s;
            transition: all .3s;
    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .3);
}
#go-top:hover
{
    background: #fcd000;
}

.go-top-show
{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;

    filter: alpha(opacity=100);
}

.go-top-hide
{
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);

    opacity: 0;

    filter: alpha(opacity=0);
}

/*-------------------------------------------------
responsive
-------------------------------------------------*/
@media (max-width: 767px)
{
    .section-gap
    {
        padding: 30px 0;
    }
    .section-title h2
    {
        font-size: 26px;
    }
    .feature-content .short-text .info h3
    {
        font-size: 20px;
    }
    .section-title,
    .fun-box
    {
        margin-bottom: 30px;
    }
    .service-list
    {
        margin-bottom: 0;
    }
    .sub-title
    {
        font-size: 22px;
        line-height: 30px;
    }
    .subscribe-from .form-control
    {
        width: 96%;
    }
    #slider
    {
        min-height: 500px;
    }
    .header .navbar-nav > li > a
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header .header-content .intro
    {
        font-size: 30px;
        line-height: 40px;
    }
    .header-content
    {
        margin-top: 50%;
    }
    .navbar-brand
    {
        float: left !important;
    }
    .navbar-right
    {
        margin-right: 15px;
    }
    .navbar-toggle
    {
        margin-top: 15px; 
        padding: 10px;

        background: #222;
    }
    .navbar-toggle .icon-bar
    {
        background: #fff;
    }
    .nav > li
    {
        display: inline-block;
    }
    .feature-content .one-third-grid
    {
        width: 100%;
        padding: 20px;
    }
    .feature-content .short-text i.pull-right
    {
        float: left !important;

        margin-right: .3em; 
        margin-left: 0;
    }
    .feature-content .short-text .info
    {
        text-align: left;
    }
    .feature-content .short-text .info p
    {
        margin-bottom: 0;
    }
    .footer .pull-right
    {
        float: left !important;
    }
    #go-top
    {
        display: none;
    }
}

@media (max-width: 991px)
{
    .header
    {
        text-align: center;
    }
    .navbar-header
    {
        float: none;
    }
    .navbar-brand
    {
        display: inline-block; 
        float: none;
    }
    .navbar-right
    {
        margin-right: 15px;
    }
    .header-content
    {
        margin-top: 40%;
    }
    .fun-box
    {
        margin-bottom: 30px;
    }
}

/* ---------------------------------------------
pre-loader
--------------------------------------------- */
#preloader
{
    position: fixed;
    z-index: 1800;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #000;
}

.no-js #preloader,
.oldie #preloader
{
    display: none;
}

#loader
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    padding: 0;
}

#loader:before
{
    display: block;

    width: 60px;
    height: 60px;

    content: '';
    -webkit-animation: load 1.1s infinite linear;
            animation: load 1.1s infinite linear;

    border-top: 2px solid rgba(255, 255, 255, .1);
    border-right: 2px solid rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    border-left: 2px solid #fcd000;
    border-radius: 50%;
}

@-webkit-keyframes load
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes load
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
